#projects {
  padding: 20px;
}

#projects h1 {
  font-size: 2.5rem;
  margin-bottom: 40px;
  color: var(--primary-text-color, black);
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 0 20px;
  justify-items: center;
}

@media (max-width: 768px) {
  #projects h1 {
    font-size: 2rem;
  }

  .show-case {
    max-width: 90%;
  }

  .project-grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

@media (max-width: 480px) {
  #projects h1 {
    font-size: 1.5rem;
  }

  .c-button {
    font-size: 0.8rem;
    padding: 6px 10px;
  }
}
